<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
  <link rel="stylesheet" href="/style.css">
  <title>Calorie and Macro Calculator</title>
</head>

<div class="header">
  <h1>Macro and calorie calculator</h1>
  <p>for fat-loss</p>
</div>
<div class="container">
<body>


<div class="outer-wrap">
<form class = "calc-form" id="calc-form">
    <div class="form-fields">
        <form action="#" th:action="@{/}" th:object="${Data}" method="post">
        <div class="field1">
        <label for="age" class="top-label">Age:</label>
        <input type="text" th:field="*{age}" name="age" id="age" inputmode="numeric" pattern="[0-9]*">
        
        </div>
        
        <div class="field2">
        <select name="gender" th:field="*{gender}">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            </select>
        </div>
        
        <div class="field3">
            <label for="height" class="top-label" th:field="*{height}">Height:</label>
            <input type="text" name="height_cm" id="height" inputmode="numeric" pattern="[0-9]*">
            
        </div>
    
        <div class="field4">
            <label for="weight" class="top-label" th:field="*{weight}">Your weight:</label>
            <input type="text" name="weight" id="weight" inputmode="numeric" pattern="[0-9]*">

        </div>
    
        <div class="button">
            <button class="form-submit">Calculate</button>
        </div>
       </form> 
    </div>

    </form>
    


    <form class="rez-form" id="rez-form">

        <div class="form-fields">
            <div class="botPadding">
         <div class="field1">
            <label for="rez" class="top-label">Your total amount of calories:</label>
            <h1 th:text="${Data.kcal}"/> 

            <label for="rez" class="top-label">Protein:</label>
            <h1 th:text="${Data.protein} + ' g'"/>

            <label for="rez" class="top-label">Carbs:</label>
             <h1 th:text="${Data.carbs} + ' g'"/>

            <label for="rez" class="top-label">Fats:</label>
             <h1 th:text="${Data.fats} + ' g'"/>
          </div>
          </div>
        
         


        </div>


        



        
    </form>

</div>


</body>

</div>










</html>